.section-title {
  width: 100%;
}

.cover {
  height: 0;
  width: 0;
  z-index: -5;
}

.cover-dimmed {
  position: absolute;
  top: 1.5rem;
  left: 0;
  width: 100%;
  padding-top: 50%;
  z-index: 3;
  background-color: #ddd;
  opacity: 0.5;
}
.main-container {
  width: 100%;
  margin-top: 1.6rem;
  background-color: #459848;
}

.main-container-dimmed {
  width: 100%;
  margin-top: 1.6rem;
  background-color: #ccc;
}

.question-card {
  position: relative;
  width: 100%;
  /* padding-bottom: 20%; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.answer-box {
  width: 100%;
}

.answer {
  position: relative;
  cursor: pointer;
  width: 98%;
  border-radius: 1rem;
  background-color: #ffffff;
  color: #9e9e9e;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
  border: 3px solid #9e9e9e;
  border-top: 1px solid white;
  border-right: none;
}

.answer-dimmed {
  position: relative;
  cursor: pointer;
  width: 98%;
  border-radius: 1rem;
  background-color: rgb(250, 248, 248);
  color: #ddd;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
  border: 3px solid #e1e1e1;
  border-top: 1px solid white;
}

.target-box {
  width: 100%;
}

.target {
  width: 100%;
  background-color: #439946;
  color: white;
  padding-top: 3rem;
  padding-bottom: 4rem;
  padding-top: 25%;
  padding-bottom: 35%;
  font-size: 2rem;
  text-align: center;
}

.target-dimmed {
  width: 100%;
  background-color: #ccc;
  color: white;
  padding-top: 25%;
  padding-bottom: 35%;
  font-size: 2rem;
  text-align: center;
}

.chef {
  width: 40%;
}

.filter-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(106%) contrast(101%);
}

@media (orientation: landscape) {
  /* .question-card {
    padding-bottom: 0;
  } */

  .target-box {
    float: right;
    width: 50%;
  }
  .answer-box {
    width: 50%;
  }

  .answered-correctly.no-click {
    padding-bottom: 62%;
  }
}

/* portrait */
@media only screen and (orientation: portrait) {
  .question-card {
    padding-bottom: 0;
  }
  /* iphone 5 */
  @media (min-device-width: 320px) {
    .answer,
    .answer-dimmed {
      padding-top: 1.5rem;
      font-size: 1.5rem;
    }
    .target {
      font-size: 1.5rem;
    }
    .answered-correctly.no-click {
      padding-bottom: 58%;
    }
  }
  /* galaxy 5 */
  @media (min-device-width: 360px) {
    .answer,
    .answer-dimmed {
      padding-top: 1.5rem;
      padding-bottom: 1.6rem;
    }
    .answered-correctly.no-click {
      padding-top: 30%;
    }
  }

  /* iphone 678 and X */
  @media (min-device-width: 375px) {
    .target {
      font-size: 1.8rem;
    }
    .answer,
    .answer-dimmed {
      padding-top: 1.6rem;
      padding-bottom: 1.6rem;
      font-size: 1.8rem;
    }
    .answered-correctly.no-click {
      padding-bottom: 58%;
    }
    /* iphone x only */
    @media (min-device-height: 812px) {
      .question-card {
        padding-bottom: 0;
      }
      .target,
      .target-dimmed {
        padding-top: 40%;
        padding-bottom: 40%;
        font-size: 2rem;
      }
      .answer,
      .answer-dimmed {
        padding-top: 1.9rem;
        padding-bottom: 1.9rem;
        font-size: 2rem;
      }
      .answered-correctly.no-click {
        padding-bottom: 72%;
      }
    }
  }

  /* pixel 2 and 2 xl */
  @media (min-device-width: 411px) {
    .question-card {
      padding-bottom: 0;
    }
    .answer,
    .answer-dimmed {
      padding-top: 1.8rem;
      padding-bottom: 1.8rem;
    }
    .answered-correctly.no-click {
      padding-bottom: 58%;
    }

    /* pixel 2 xl only */
    @media (min-device-height: 823px) {
      .answered-correctly.no-click {
        padding-bottom: 62%;
      }
    }
  }

  /* iphone 6/7/8 plus */
  @media (min-device-width: 414px) {
    .question-card {
      padding-bottom: 0;
    }
    .answer,
    .answer-dimmed {
      padding-top: 5%;
      padding-bottom: 9%;
    }
    .answered-correctly.no-click {
      padding-bottom: 55%;
    }
  }

  /* ipad */
  @media (min-device-width: 768px) {
    /* @media (max-device-height: 1024px) { */
    .main-container {
      margin-top: 5%;
      margin-left: 15%;
      margin-right: 15%;
      width: 70%;
    }
    .question-card {
      padding-bottom: 0;
    }
    .target {
      font-size: 3.5rem;
    }
    .answer,
    .answer-dimmed {
      padding-top: 2rem;
      padding-bottom: 2rem;
      font-size: 2.5rem;
    }
    .answered-correctly.no-click {
      padding-bottom: 45%;
      font-size: 3.5rem;
    }
    /* } */
  }

  /* ipad pro */
  @media (min-device-width: 1024px) {
    .main-container {
      margin-top: 5%;
      margin-left: 15%;
      margin-right: 15%;
      width: 70%;
    }
    .question-card {
      padding-bottom: 0;
    }
    .target {
      font-size: 4.5rem;
    }
    .answer,
    .answer-dimmed {
      padding-top: 6%;
      padding-bottom: 8%;
      font-size: 3rem;
    }
    .answered-correctly.no-click {
      padding-bottom: 48%;
      font-size: 4.5rem;
    }
  }
}

/* landscape */
@media only screen and (orientation: landscape) {
  .question-card {
    padding-bottom: 0;
  }

  /* iphone 5 */
  @media (min-device-width: 568px) {
    /* and (-webkit-device-pixel-ratio: 2) */
    .question-card {
      padding-bottom: 0;
    }
    .target,
    .target-dimmed {
      padding-bottom: 0;
    }
    .answer,
    .answer-dimmed {
      padding-top: 0.8rem;
      padding-bottom: 0.9rem;
      font-size: 1.8rem;
    }
    .answered-correctly.no-click {
      padding-bottom: 58%;
    }
  }

  /* galaxy 5 */
  @media (min-device-width: 640px) {
    /* and (max-device-height: 375px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)*/
    .answer,
    .answer-dimmed {
      /* color: green; */
      padding-top: 1.1rem;
      padding-bottom: 1.1rem;
    }
  }

  /* iphone 6/7/8 */
  @media (min-device-width: 667px) {
    /* and (max-device-height: 375px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) */
    .answer,
    .answer-dimmed {
      padding-top: 1.2rem;
      padding-bottom: 1.3rem;
    }
    .answered-correctly.no-click {
      padding-bottom: 62%;
    }
  }
  /* iphone 6/7/8 plus */
  @media (min-device-width: 736px) {
    /* @media (max-device-height: 414) and (-webkit-device-pixel-ratio: 2) { */
    .answer,
    .answer-dimmed {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
    .answered-correctly.no-click {
      padding-bottom: 62%;
    }
  }

  /* iphone x */
  @media (min-device-width: 812px) {
    /* and (max-device-height: 375px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) */
    .answer,
    .answer-dimmed {
      padding-top: 1.2rem;
      padding-bottom: 1.3rem;
    }
    .answered-correctly.no-click {
      padding-bottom: 46%;
    }
  }

  /* pixel 2 */
  @media (min-device-width: 731px) {
    .answer,
    .answer-dimmed {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
    .answered-correctly.no-click {
      padding-bottom: 62%;
    }
  }

  /* pixel 2 xl */
  @media (min-device-width: 823px) {
    .answer,
    .answer-dimmed {
      padding-top: 1.5rem;
      padding-bottom: 1.6rem;
    }
    .answered-correctly.no-click {
      padding-bottom: 55%;
    }
  }

  /* ipad */
  @media (min-device-width: 1024px) {
    .question-card {
      padding-bottom: 0;
    }
    .main-container {
      margin-top: 10%;
      margin-left: 10%;
      margin-right: 10%;
      width: 80%;
    }
    .target {
      font-size: 3rem;
    }
    .answer,
    .answer-dimmed {
      padding-top: 2.5rem;
      padding-bottom: 3rem;
      font-size: 2.5rem;
    }
    .answered-correctly.no-click {
      padding-bottom: 100%;
      font-size: 3rem;
    }
  }

  /* ipad pro */
  @media (min-device-width: 1366px) {
    .question-card {
      padding-bottom: 0;
    }
    .main-container {
      margin-top: 10%;
      margin-left: 10%;
      margin-right: 10%;
      width: 80%;
    }
    .target {
      font-size: 3.5rem;
    }
    .answer,
    .answer-dimmed {
      padding-top: 3rem;
      padding-bottom: 3rem;
      font-size: 3rem;
    }
    .answered-correctly.no-click {
      padding-bottom: 82%;
      font-size: 3rem;
    }
  }
}

/* pc chromebook */
/* @media only screen and (min-device-width: 1200px) { */
@media only screen and (min-device-width: 1200px) {
  @media (max-device-height: 800px) {
    .main-container {
      margin-top: 10%;
      margin-left: 10%;
      margin-right: 10%;
      width: 80%;
    }
    .question-card {
      padding-bottom: 0;
    }

    .target {
      font-size: 3.5rem;
    }

    .answer,
    .answer-dimmed {
      padding-top: 2rem;
      padding-bottom: 2rem;
      font-size: 2rem;
    }
    .answered-correctly.no-click {
      padding-bottom: 55%;
      font-size: 3rem;
    }
  }
}

/* answers */
.no-click-is-hidden,
.right-choice-is-hidden,
.wrong-answer-is-hidden,
.always-hidden {
  display: none;
}

.answered-correctly {
  border-radius: 0;
  border: none;
  width: 100%;
  padding-top: 25%;
  padding-bottom: 57%;
  color: #459848;
  /* border-radius: 0 0 50% 50%; */
  /* animation: nod 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px; */
}
.answered-correctly.dimmed {
  color: #ddd;
}

.answered-incorrectly-shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  color: burlywood;
  color: tomato;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

/* shake */
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* nod */
@keyframes nod {
  10%,
  90% {
    transform: translate3d(0, -1px, 0);
  }

  20%,
  80% {
    transform: translate3d(0, 2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(0, -4px, 0);
  }

  40%,
  60% {
    transform: translate3d(0, 4px, 0);
  }
}
