body {
  background-color: #cccccc;
}

.section-title {
  width: 100%;
}

.cover {
  height: 0;
  width: 0;
  z-index: -5;
}

.cover-dimmed {
  position: absolute;
  top: 1.5rem;
  left: 0;
  width: 100%;
  padding-top: 50%;
  z-index: 3;
  background-color: #ddd;
  opacity: 0.5;
}
.mc-container {
  --answer-font-size: 2rem;
  --target-font-size: 3rem;
  --answer-padding: 2rem;
  --no-click-padding: 1.6rem;

  --ipad-margin-top: 12%;
  --ipad-margin-left: 15%;
  --ipad-margin-right: 15%;
  --ipad-width: 70%;

  width: 100%;
  margin-top: 1.6rem;
  background-color: #459848;
  /* background-color: #ccc; */
}

.mc-container-dimmed {
  width: 100%;
  margin-top: 1.6rem;
  background-color: #ccc;
}

.question-card {
  position: relative;
  width: 100%;
  /* padding-bottom: 20%; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.answer-box {
  width: 100%;
}

.answer {
  position: relative;
  cursor: pointer;
  width: 98%;
  border-radius: 1rem;
  background-color: #ffffff;
  color: #9e9e9e;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
  border: 3px solid #9e9e9e;
  border-top: 1px solid white;
  border-right: none;
}

.answer-dimmed {
  position: relative;
  cursor: pointer;
  width: 98%;
  border-radius: 1rem;
  background-color: rgb(250, 248, 248);
  color: #ddd;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
  border: 3px solid #e1e1e1;
  border-top: 1px solid white;
}

.target-box {
  width: 100%;
}

.target {
  width: 100%;
  background-color: #439946;
  color: white;
  padding-top: 3rem;
  padding-bottom: 4rem;
  padding-top: 25%;
  padding-bottom: 35%;
  font-size: 2rem;
  text-align: center;
}

.target-dimmed {
  width: 100%;
  background-color: #ccc;
  color: white;
  padding-top: 25%;
  padding-bottom: 35%;
  font-size: 2rem;
  text-align: center;
}

.chef {
  width: 40%;
}

.filter-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(106%) contrast(101%);
}

/* @media (orientation: landscape) {


  .target-box {
    float: right;
    width: 50%;
  }
  .answer-box {
    width: 50%;
  }

  .answered-correctly.no-click {
    padding-bottom: 62%;
  }
} */
@viewport {
  zoom: 1;
  width: device-width;
}

/* portrait */
@media only screen and (orientation: portrait) {
  .question-card {
    padding-bottom: 0;
  }
  /* iphone 5 */
  @media (min-width: 320px) {
    .answer,
    .answer-dimmed {
      padding-top: calc(var(--answer-padding, 1rem) * 0.45);
      padding-top: calc(var(--answer-padding, 1rem) * 0.45);
      font-size: calc(var(--answer-font-size, 2rem) * 0.65);
    }
    .target {
      font-size: calc(var(--target-font-size, 2rem) * 0.85);
    }
    .answered-correctly.no-click {
      padding-bottom: calc(var(--no-click-padding, 2rem) * 3.8);
      font-size: calc(var(--target-font-size, 2rem) * 0.85);
    }
  }
  /* galaxy 5 */
  @media (min-width: 360px) {
    .answer,
    .answer-dimmed {
      padding-top: calc(var(--answer-padding, 1rem) * 0.45);
      padding-bottom: calc(var(--answer-padding, 1rem) * 0.45);
      font-size: calc(var(--answer-font-size, 2rem) * 0.65);
    }
    .target {
      font-size: calc(var(--target-font-size, 2rem) * 0.85);
    }
    .answered-correctly.no-click {
      padding-bottom: calc(var(--no-click-padding, 2rem) * 3.5);
      font-size: calc(var(--target-font-size, 2rem) * 0.85);
    }
  }

  /* iphone 6/7/8 and X */
  @media (min-width: 375px) {
    .answer,
    .answer-dimmed {
      padding-top: calc(var(--answer-padding, 1rem) * 0.45);
      padding-bottom: calc(var(--answer-padding, 1rem) * 0.45);
      font-size: calc(var(--answer-font-size, 2rem) * 0.65);
    }
    .target {
      font-size: calc(var(--target-font-size, 2rem) * 0.85);
    }
    .answered-correctly.no-click {
      padding-bottom: calc(var(--no-click-padding, 2rem) * 3.5);
      font-size: calc(var(--target-font-size, 2rem) * 0.85);
    }

    /* iphone x only */
    @media (min-height: 812px) {
      .question-card {
        margin-top: calc(var(--answer-padding, 2rem) * 2);
      }
      .answer,
      .answer-dimmed {
        padding-top: calc(var(--answer-padding, 1rem) * 0.55);
        padding-bottom: calc(var(--answer-padding, 1rem) * 0.55);
        font-size: calc(var(--answer-font-size, 2rem) * 0.75);
      }
      .target {
        font-size: calc(var(--target-font-size, 2rem) * 0.95);
      }
      .answered-correctly.no-click {
        padding-bottom: calc(var(--no-click-padding, 2rem) * 4.5);
        font-size: calc(var(--target-font-size, 2rem) * 0.95);
      }
    }
  }

  /* pixel 2 and 2 xl */
  @media (min-width: 411px) {
    .answer,
    .answer-dimmed {
      padding-top: calc(var(--answer-padding, 1rem) * 0.55);
      padding-bottom: calc(var(--answer-padding, 1rem) * 0.55);
      font-size: calc(var(--answer-font-size, 2rem) * 0.75);
    }
    .target {
      font-size: calc(var(--target-font-size, 2rem) * 0.95);
    }
    .answered-correctly.no-click {
      padding-bottom: calc(var(--no-click-padding, 2rem) * 4.5);
      font-size: calc(var(--target-font-size, 2rem) * 0.95);
    }

    /* pixel 2 xl only */
    @media (min-height: 823px) {
      .question-card {
        margin-top: calc(var(--answer-padding, 2rem) * 2);
      }
      .answered-correctly.no-click {
        padding-bottom: calc(var(--no-click-padding, 2rem) * 4.5);
      }
    }
  }

  /* iphone 6/7/8 plus */
  @media (min-width: 414px) {
    .answer,
    .answer-dimmed {
      padding-top: calc(var(--answer-padding, 1rem) * 0.55);
      padding-bottom: calc(var(--answer-padding, 1rem) * 0.55);
      font-size: calc(var(--answer-font-size, 2rem) * 0.75);
    }
    .target {
      font-size: calc(var(--target-font-size, 2rem) * 0.95);
    }
    .answered-correctly.no-click {
      padding-bottom: calc(var(--no-click-padding, 2rem) * 4.5);
      font-size: calc(var(--target-font-size, 2rem) * 0.95);
    }
  }

  /* ipad */
  @media (min-width: 768px) {
    .mc-container {
      margin-top: var(--ipad-margin-top, 12%);
      margin-left: var(--ipad-margin-left, 15%);
      margin-right: var(--ipad-margin-right, 15%);
      width: var(--ipad-width, 70%);
    }
    .answer,
    .answer-dimmed {
      padding-top: calc(var(--answer-padding, 1rem) * 0.55);
      padding-bottom: calc(var(--answer-padding, 1rem) * 0.55);
      font-size: calc(var(--answer-font-size, 2rem) * 1.2);
    }
    .target {
      font-size: calc(var(--target-font-size, 2rem) * 1.5);
    }
    .answered-correctly.no-click {
      padding-bottom: calc(var(--no-click-padding, 2rem) * 4.5);
      font-size: calc(var(--target-font-size, 2rem) * 1.5);
    }
  }

  /* ipad pro */
  @media (min-width: 1024px) {
    .mc-container {
      margin-top: var(--ipad-margin-top, 12%);
      margin-left: var(--ipad-margin-left, 15%);
      margin-right: var(--ipad-margin-right, 15%);
      width: var(--ipad-width, 70%);
    }

    .answer,
    .answer-dimmed {
      padding-top: calc(var(--answer-padding, 1rem) * 0.55);
      padding-bottom: calc(var(--answer-padding, 1rem) * 0.55);
      font-size: calc(var(--answer-font-size, 2rem) * 1.8);
    }
    .target {
      font-size: calc(var(--target-font-size, 2rem) * 2.2);
    }
    .answered-correctly.no-click {
      padding-bottom: calc(var(--no-click-padding, 2rem) * 4.75);
      font-size: calc(var(--target-font-size, 2rem) * 2.2);
    }
  }
}

/* landscape ***********************************************************************************************/
@media only screen and (orientation: landscape) {
  /* :root {
    --answer-font-size: 40px;
  } */

  .mc-container {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }

  .mc-container {
    margin-top: var(--ipad-margin-top, 12%);
    margin-left: calc(var(--ipad-margin-left, 15%) * 0.7);
    margin-right: calc(var(--ipad-margin-right, 15%) * 0.7);
    width: calc(var(--ipad-width, 70%) * 1.15);
  }
  .question-card {
    padding-bottom: 0;
  }
  .target-box {
    float: right;
    width: 50%;
  }
  .target,
  .target-dimmed {
    padding-bottom: 0;
  }
  .answer-box {
    width: 50%;
  }

  /* iphone 5 */
  @media (min-width: 568px) {
    @media (max-height: 320px) {
      /* and (-webkit-device-pixel-ratio: 2) */
      .mc-container {
        margin-top: 0;
      }
      .question-card {
        margin-top: calc(var(--answer-padding, 2rem) * 1.2);
      }

      .answer,
      .answer-dimmed {
        padding-top: calc(var(--answer-padding, 1rem) * 0.45);
        padding-top: calc(var(--answer-padding, 1rem) * 0.45);
        font-size: calc(var(--answer-font-size, 2rem) * 0.6);
      }
      .target {
        font-size: calc(var(--target-font-size, 2rem) * 0.75);
      }
      .answered-correctly.no-click {
        padding-bottom: calc(var(--no-click-padding, 2rem) * 4.25);
        font-size: calc(var(--target-font-size, 2rem) * 0.75);
      }
    }
  }

  /* galaxy 5 */
  @media (min-width: 640px) {
    @media (max-height: 360px) {
      /* and (max-height: 375px) and (orientation: landscape) 
      and (-webkit-device-pixel-ratio: 2)*/
      .mc-container {
        margin-top: 0;
      }
      .question-card {
        margin-top: calc(var(--answer-padding, 2rem) * 1.5);
      }
      .answer,
      .answer-dimmed {
        padding-top: calc(var(--answer-padding, 1rem) * 0.45);
        padding-bottom: calc(var(--answer-padding, 1rem) * 0.45);
        font-size: calc(var(--answer-font-size, 2rem) * 0.75);
      }
      .target {
        font-size: calc(var(--target-font-size, 2rem) * 0.95);
      }
      .answered-correctly.no-click {
        padding-bottom: calc(var(--no-click-padding, 2rem) * 4.5);
        font-size: calc(var(--target-font-size, 2rem) * 0.95);
      }
    }
  }

  /* iphone 6/7/8 */
  @media (min-width: 667px) {
    @media (max-height: 375px) {
      /* and (max-height: 375px) and (orientation: landscape) 
      and (-webkit-device-pixel-ratio: 2) */
      .mc-container {
        margin-top: 0;
      }
      .question-card {
        margin-top: calc(var(--answer-padding, 2rem) * 1.5);
      }
      .answer,
      .answer-dimmed {
        padding-top: calc(var(--answer-padding, 1rem) * 0.45);
        padding-bottom: calc(var(--answer-padding, 1rem) * 0.45);
        font-size: calc(var(--answer-font-size, 2rem) * 0.75);
      }
      .target {
        font-size: calc(var(--target-font-size, 2rem) * 0.95);
      }
      .answered-correctly.no-click {
        padding-bottom: calc(var(--no-click-padding, 2rem) * 4.5);
        font-size: calc(var(--target-font-size, 2rem) * 0.95);
      }
    }
  }

  /* iphone 6/7/8 plus */
  @media (min-width: 736px) {
    @media (max-height: 414px) {
      /* @media (max-height: 414px) and (-webkit-device-pixel-ratio: 2) { */
      .mc-container {
        margin-top: 0;
      }
      .question-card {
        margin-top: calc(var(--answer-padding, 2rem) * 1.5);
      }
      .answer,
      .answer-dimmed {
        padding-top: calc(var(--answer-padding, 1rem) * 0.45);
        padding-bottom: calc(var(--answer-padding, 1rem) * 0.45);
        font-size: calc(var(--answer-font-size, 2rem) * 0.75);
      }
      .target {
        font-size: calc(var(--target-font-size, 2rem) * 0.95);
      }
      .answered-correctly.no-click {
        padding-bottom: calc(var(--no-click-padding, 2rem) * 4.5);
        font-size: calc(var(--target-font-size, 2rem) * 0.95);
      }
    }
  }

  /* iphone x */
  @media (min-width: 812px) {
    @media (max-height: 375px) {
      /* and (max-height: 375px) and (orientation: landscape) 
      and (-webkit-device-pixel-ratio: 3) */
      .mc-container {
        margin-top: 0;
      }
      .question-card {
        margin-top: calc(var(--answer-padding, 2rem) * 1.5);
      }
      .answer,
      .answer-dimmed {
        padding-top: calc(var(--answer-padding, 1rem) * 0.45);
        padding-bottom: calc(var(--answer-padding, 1rem) * 0.45);
        font-size: calc(var(--answer-font-size, 2rem) * 0.85);
      }
      .target {
        font-size: calc(var(--target-font-size, 2rem) * 1.1);
      }
      .answered-correctly.no-click {
        padding-bottom: calc(var(--no-click-padding, 2rem) * 4.5);
        font-size: calc(var(--target-font-size, 2rem) * 1.1);
      }
    }
  }

  /* pixel 2 */
  /* @media (min-width: 731px) and (device-aspect-ratio: 2/1) { */
  @media (min-width: 731px) {
    @media (min-height: 411px) {
      .mc-container {
        /* margin-top: 5%; */
        margin-top: 0;
      }
      .question-card {
        margin-top: calc(var(--answer-padding, 2rem) * 1.5);
      }
      .answer,
      .answer-dimmed {
        padding-top: calc(var(--answer-padding, 1rem) * 0.45);
        padding-bottom: calc(var(--answer-padding, 1rem) * 0.45);
        font-size: calc(var(--answer-font-size, 2rem) * 0.85);
      }
      .target {
        font-size: calc(var(--target-font-size, 2rem) * 1.1);
      }
      .answered-correctly.no-click {
        padding-bottom: calc(var(--no-click-padding, 2rem) * 4.5);
        font-size: calc(var(--target-font-size, 2rem) * 1.1);
      }
    }
  }

  /* pixel 2 xl */
  @media (min-width: 823px) {
    @media (max-height: 411px) {
      .mc-container {
        margin-top: 0;
      }
      .question-card {
        margin-top: calc(var(--answer-padding, 2rem) * 1.5);
      }
      .answer,
      .answer-dimmed {
        padding-top: calc(var(--answer-padding, 1rem) * 0.45);
        padding-bottom: calc(var(--answer-padding, 1rem) * 0.45);
        font-size: calc(var(--answer-font-size, 2rem) * 0.85);
      }
      .target {
        font-size: calc(var(--target-font-size, 2rem) * 1.1);
      }
      .answered-correctly.no-click {
        padding-bottom: calc(var(--no-click-padding, 2rem) * 4.5);
        font-size: calc(var(--target-font-size, 2rem) * 1.1);
      }
    }
  }

  /* ipad */
  @media (min-width: 1024px) {
    @media (max-height: 768px) {
      .mc-container {
        margin-top: var(--ipad-margin-top, 12%);
        margin-left: calc(var(--ipad-margin-left, 15%) * 0.7);
        margin-right: calc(var(--ipad-margin-right, 15%) * 0.7);
        width: calc(var(--ipad-width, 70%) * 1.15);
      }
      .answer,
      .answer-dimmed {
        padding-top: calc(var(--answer-padding, 1rem) * 0.75);
        padding-bottom: calc(var(--answer-padding, 1rem) * 0.75);
        font-size: calc(var(--answer-font-size, 2rem) * 1.2);
      }
      .target {
        font-size: calc(var(--target-font-size, 2rem) * 1.6);
      }
      .answered-correctly.no-click {
        padding-bottom: calc(var(--no-click-padding, 2rem) * 8.25);
        font-size: calc(var(--target-font-size, 2rem) * 1.6);
      }
    }
  }

  /* ipad pro */
  @media (min-width: 1366px) {
    @media (max-height: 768px) {
      .mc-container {
        margin-top: var(--ipad-margin-top, 12%);
        margin-left: calc(var(--ipad-margin-left, 15%) * 0.7);
        margin-right: calc(var(--ipad-margin-right, 15%) * 0.7);
        width: calc(var(--ipad-width, 70%) * 1.15);
      }
      .answer,
      .answer-dimmed {
        padding-top: calc(var(--answer-padding, 1rem) * 0.75);
        padding-bottom: calc(var(--answer-padding, 1rem) * 0.75);
        font-size: calc(var(--answer-font-size, 2rem) * 1.6);
      }
      .target {
        font-size: calc(var(--target-font-size, 2rem) * 1.9);
        color: red;
      }
      .answered-correctly.no-click {
        padding-bottom: calc(var(--no-click-padding, 2rem) * 12.25);
        font-size: calc(var(--target-font-size, 2rem) * 1.9);
      }
    }
  }

  /* pc chromebook **********************************************************************************************************/
  /* @media only screen and (min-width: 1200px) { */
  @media only screen and (min-width: 1200px) {
    @media (max-height: 800px) {
      .mc-container {
        margin-top: 8%;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
      }
      .question-card {
        padding-bottom: 0;
      }

      .target {
        font-size: 3.5rem;
        font-size: calc(var(--target-font-size, 2rem) * 1.6);
      }

      .answer,
      .answer-dimmed {
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-top: calc(var(--answer-padding, 1rem) * 0.75);
        padding-bottom: calc(var(--answer-padding, 1rem) * 0.75);
        font-size: 2rem;
        font-size: calc(var(--answer-font-size, 2rem) * 1.4);
      }
      .answered-correctly.no-click {
        padding-bottom: 55%;
        padding-bottom: calc(var(--no-click-padding, 2rem) * 10.25);

        font-size: 3.5rem;
        font-size: calc(var(--target-font-size, 2rem) * 1.6);
      }
    }
  }

  /* macbook air 11 */
  @media only screen and (min-width: 1366px) {
    @media (max-height: 1024px) {
      .mc-container {
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
      }
      .question-card {
        padding-bottom: 0;
      }
      .target {
        font-size: 3.5rem;
        font-size: calc(var(--target-font-size, 2rem) * 1.6);
      }
      .answer,
      .answer-dimmed {
        padding-top: 2.5rem;
        padding-bottom: 3rem;
        padding-top: calc(var(--answer-padding, 1rem) * 1.25);
        padding-bottom: calc(var(--answer-padding, 1rem) * 1.25);
        font-size: 3rem;
        font-size: calc(var(--answer-font-size, 2rem) * 1.4);
      }
      .answered-correctly.no-click {
        padding-bottom: 75%;
        padding-bottom: calc(var(--no-click-padding, 2rem) * 12.5);

        font-size: 3.5rem;
        font-size: calc(var(--target-font-size, 2rem) * 1.6);
      }
    }
  }
}

/* answers */
.no-click-is-hidden,
.right-choice-is-hidden,
.wrong-answer-is-hidden,
.always-hidden {
  display: none;
}

.answered-correctly {
  border-radius: 0;
  border: none;
  width: 100%;
  padding-top: 25%;
  padding-bottom: 85%;
  color: #459848;
  /* border-radius: 0 0 50% 50%; */
  /* animation: nod 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px; */
}
.answered-correctly.dimmed {
  color: #ddd;
}

.answered-incorrectly-shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  color: burlywood;
  color: tomato;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

/* shake */
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* nod */
@keyframes nod {
  10%,
  90% {
    transform: translate3d(0, -1px, 0);
  }

  20%,
  80% {
    transform: translate3d(0, 2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(0, -4px, 0);
  }

  40%,
  60% {
    transform: translate3d(0, 4px, 0);
  }
}
