.h2 {
  padding: 2rem;
  padding-top: 4rem;
  padding-bottom: 4.5rem;
  font-weight: bolder;
}

.h3 {
  padding: 2rem;
  font-size: 1.5rem;
}

div.card {
  position: relative;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-bottom: 2rem;
  float: left;
}

div.header {
  position: relative;
  background-color: #4caf50;
  /* #4CAF50; */
  width: 100%;
  color: white;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 40px;
}

div.container {
  padding: 10px;
}

.filter-white {
  position: absolute;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(106%) contrast(101%);
}

.slot-left {
  position: absolute;
  top: 0.1rem;
  left: 0;
  /* margin-top:1rem; */
  width: 3rem;
  padding: 0;
  background-color: dimgray;
  opacity: 0.65;
  cursor: pointer;
}

.slot-right {
  position: absolute;
  top: 0.15rem;
  right: 0;
  width: 3rem;
  padding: 0;
  background-color: dimgray;
  opacity: 0.65;
  cursor: pointer;
}

.lesson-title {
  font-size: 1.5rem;
  padding: 0.1rem;
  border: none;
  color: gray;
  font-size: 1.2rem;
  font-weight: 100;
  text-transform: uppercase;

  /* padding: 16px 20px; */
  /* border-radius: 2px; */
  /* box-shadow: 0 8px 16px rgba(0,0,0,.1), 0 3px 6px rgba(0,0,0,.08); */
  outline: 0;
  letter-spacing: 0.04em;
  transition: all 0.15s ease;
  cursor: pointer;
}

/* top right bottom left */
.sub-header-menu {
  display: block;
  position: fixed;
  /* width: 92%; */
  width: 100%;
  top: 3.5rem;
  left: 0;
  padding: 0.5rem 0 0.5rem 0;
  text-align: center;
  /* background-color: rgb(218, 218, 218); */
  /* background-color: rgb(229, 229, 229); */
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  z-index: 2;
}

button {
  /* background: #5851ff; */
  /* color: white; */
  padding: 1.5rem;
  border: none;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  /* padding: 16px 20px; */
  border-radius: 2px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  outline: 0;
  letter-spacing: 0.04em;
  transition: all 0.15s ease;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}

.hidden {
  display: none;
  /* visibility: hidden */
}

.footer-vocabulary {
  z-index: 3;
  width: 100%;
  background-color: white;
  position: fixed;
  bottom: 0px;
  left: 0;
  height: 2.5em;
  width: 100%;
  /* padding-top: 1rem; */
  /* border-top-right-radius: 1rem;
    border-top-left-radius: 1rem; */
  /* border-top: 1rem solid #CCC; */
  border-top-right-radius: 1rem;
  border-top: 0.2rem solid #ccc;
  border-top: 1px solid #eee;
}

.footer-vocabulary .tab {
  cursor: pointer;
  float: left;
  fill: white;
  width: 24.5%;
  text-align: center;
  border-right: 1px solid #cccccc;
  border-top-right-radius: 15px;
  float: left;
  padding-top: 0.75rem;
  padding-bottom: 1rem;
}

.tab:last-child {
  border-right: unset;
  border-top-right-radius: unset;
}

.tab.active {
  background-color: #e5e5e575;
  background-color: #3a433a;
  color: #4caf50;
  /* color: hsl(14, 95%, 55%); */
  font-weight: 700;
}

@media (min-width: 20em) {
  /* iphone 5/SE */
  #loading ion-img {
    left: 33%;
  }
  .main-container {
    margin-top: 3rem;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  div.card {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.footer-phrases {
  z-index: 0;
  width: 100%;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 3em;
  width: 100%;
  /* padding-top: 1rem; */
  /* border-top-right-radius: 1rem;
  border-top-left-radius: 1rem; */
  /* border-top: 1rem solid #CCC; */
  border-top-right-radius: 1rem;
  border-top: 0.2rem solid #ccc;
  border-top: 1px solid #eee;
}
.footer-phrases .tab {
  cursor: pointer;
  width: 49.5%;
  color: #ddd;
  font-size: 1.25rem;
  text-align: center;
  background-color: #888888;
  padding-top: 0.75rem;
  padding-bottom: 1rem;
  border-right: 1px solid #cccccc;
  float: left;
}

.footer-phrases .active {
  cursor: pointer;
  width: 49.5%;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  padding-top: 0.75rem;
  padding-bottom: 1rem;
  background-color: #e5e5e575;
  background-color: #394339;
  fill: white;
  border-right: 1px solid #cccccc;
  float: left;
}

@media (min-width: 22em) {
  /* galaxy s5 */
  #loading ion-img {
    left: 35%;
  }
}

@media (min-width: 23em) {
  /* iphone 6/7/8 */
  #loading ion-img {
    left: 8.5em;
    /* background-color: red; */
  }
}

@media (min-width: 24em) {
  /* pixel 2, iphone 6/7/8 plus */
  #loading ion-img {
    left: 9.5em;
    /* background-color: blue; */
  }
}
