.h3-white-out {
  color: #dddddd;
}

.h3 {
  color: green;
}
.hidden {
  display: none;
  /* visibility: hidden; */
}

.audio-container {
  z-index: 3;
  margin-bottom: 3rem;
}

.audio-container-hidden {
  /* display: none; */
  visibility: hidden;
  margin-bottom: 3rem;
}

/* .not-visible {
  visibility: hidden;
}  */

.main-container {
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.h2 {
  padding: 2rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-weight: bolder;
  font-size: 2.25rem;
}

div.card {
  position: relative;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-bottom: 2rem;
  float: left;
}

div.header {
  position: relative;
  background-color: #439946;
  /* background-color: #64855f; */
  /* #4CAF50; */
  width: 100%;
  color: white;
  /* padding-top: 20px;
    padding-bottom: 30px; */
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  font-size: 3rem;
  /* font-size: 40px; */
}

.header-dimmed {
  position: relative;
  background-color: #4caf50;
  background-color: #eeeeee;
  /* #4CAF50; */
  width: 100%;
  color: white;
  /* padding-top: 20px;
    padding-bottom: 30px; */
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  font-size: 3rem;
}

.audio {
  /* width: 50%;
    margin-left: auto;
    margin-right: auto; */
  margin-bottom: 3rem;
}

.app-option-bar {
  position: absolute;
  bottom: 0.5rem;
  width: 100%;
}

div.container {
  padding: 20px;
}

.filter-white {
  position: absolute;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(106%) contrast(101%);
}

.slot-left {
  position: absolute;
  top: 0.5rem;
  left: 0.25rem;
  float: left;
  z-index: 1;
}

.footer-vocabulary {
  z-index: 3;
  background-color: white;
  position: fixed;
  bottom: 0px;
  left: 0;
  height: 2.5em;
  width: 100%;
  /* border-top: 1px solid #CCC; */
}

.footer-vocabulary .tab,
.app-option-bar .tab {
  position: relative;
  cursor: pointer;
  float: left;
  fill: white;
  width: 24.5%;
  text-align: center;
  border-right: 1px solid #cccccc;
  border-top-right-radius: 15px;
  display: inherit;
}

.app-option-bar .tab-dimmed {
  position: relative;
  cursor: pointer;
  float: left;
  fill: white;
  width: 24.5%;
  text-align: center;
  border-right: 1px solid #cccccc29;
  border-top-right-radius: 15px;
  display: inherit;
}

/* .tab:last-child {
  cccccc29
    border-right: unset;
  } */

@media (min-width: 20em) {
  /* iphone 5/SE */
  .h2 {
    font-size: 1.75rem;
  }
}

@media (min-width: 23em) {
  /* iphone 6/7/8 */
  .h2 {
    font-size: 2rem;
  }
}

/* ipad and higher*/
@media (min-width: 48em) {
  .h2 {
    font-size: 2.5rem;
  }
  /* div.card {
      width: 42%;
      margin-left: 2rem;
      margin-right: 2rem;
    } */
}

/* ipad and higher*/
@media (min-width: 64em) {
  div.card {
    width: 42%;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
